@model MenuViewModel
<h1>Modifica del Menu @Model.Name</h1>
<form method="post">
<div class="form-group">
    <label asp-for="Id">Id Menu</label>
    <input asp-for="Id" class="form-control" readonly/>
    <span asp-validation-for="Id" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Name">Nome del Menu</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<tbody>
        @foreach (var item in Model.Dishes)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                        <a class="btn btn-danger" asp-controller="Dishes" asp-action="Delete" asp-route-id="@item.Id">Elimina Piatto</a>
                </td>
            </tr>
        }
    </tbody>
<br />
<input type="submit" value="Salva Modifica" class="btn btn-primary" />
<input type="reset" value="Reset" class="btn btn-primary" />
<a class="btn btn-primary" asp-controller="Menu" asp-action="Index">Indietro</a>
</form>